*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
.wrapper{
    position: relative;
    background-image: url(./images/gradient-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    position: absolute;
    top:3rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.15);
}
.grid-block{
    width: 90%;
    max-width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    aspect-ratio: 1/1; /* For squre the grid-box */
    padding: 2rem;
}
.box{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    color:white;
}
.box1,.box2,.box4,.box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.box3,.box6{
    border-bottom: 2px solid white;
}
.box7,.box8{
    border-right: 2px solid white;
}
.box.win{
    background-color: green;
}
.btn{
    position: absolute;
    bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    cursor: pointer;
    display: none;
}
.btn.active{
    display: flex;
}




.bgBtn{
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    cursor: pointer;
}
.wrapper.anotherBg{
    background-image: url(./images/Wood-Background.jpg);
}



.resetAll{
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
}
